body {
	font-family: "Inconsolata", Helvetica, sans-serif;
	box-sizing: border-box;
	height: 100%;
	background-color: #000000;
	background-image: radial-gradient(#00270A, #020202);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Inconsolata", Helvetica, sans-serif;
	color: rgba(128, 255, 128, 0.8);
	text-shadow: 0 0 1ex #33ff33, 0 0 2px rgba(255, 255, 255, 0.8);
	height: 100vh;
	background-attachment: fixed;
}

.message {
	color: #000;
	clear: both;
	line-height: 18px;
	font-size: 15px;
	padding: 8px;
	position: relative;
	margin: 8px 0;
	max-width: 85%;
	word-wrap: break-word;
	z-index: -1;
}

.message:after {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
}


.message.sent {
	background-color: #393939;
	color: limegreen;
	border-radius: 5px 0px 5px 5px;
	float: left;
}

.message.sent:after {
	border-width: 0px 0 10px 10px;
	border-color: transparent transparent transparent #e1ffc7;
	top: 0;
	left: -10px;
}

.message.received {
	background-color: #191919;
	border-radius: 0px 5px 5px 5px;
	color: limegreen;
	white-space: break-spaces;
}

.message.received .metadata {
	padding: 0 0 0 16px;
}

.message.received:after {
	border-width: 0px 10px 10px 0;
	border-color: transparent #fff transparent transparent;
	top: 0;
	left: -10px;
}

body {
	background-color: black;
}

::placeholder {
	text-shadow: 0 0 5px #003300;
	color: green;
	opacity: 1; /* Firefox */
}

#description {
	background-color: black;
	border-color: green;
	color: green;
}

#draw_button {
	background-color: green;
	border-radius: 5px;
	border-color: green;
}

svg {
	max-height: 30em;
}

.full_reply {
	font-family: monospace;
	user-select: none;
}

.print_button {
	user-select: none;
}

@media print {
	.no-print, .no-print * {
		display: none !important;
	}

	@page { margin: 0; }
	body { margin: 1.6cm; }
}
